.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    color: rgb(42, 41, 41);
    position: relative;
}

.header-arrow {
    position: absolute;
    top: 58px;
    cursor: pointer;
}

.header-arrow img {
    width: 20px;
    height: 20px;
}