.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 600;
    color: rgb(42, 41, 41);
    position: relative;
    border: solid 3px rgb(0, 213, 255);
    height: 45px;
}

.header-arrow {
    position: absolute;
    top: 73px;
    cursor: pointer;
}

.header-arrow img {
    width: 20px;
    height: 20px;
}